
  <nav class="navbar ">
      <a class="navbar-brand" href="#">
          <p class="d-inline-block logoText text-dark fst-italic">H&J-Galleria
          </p>
      </a>
      <nav class="navbar navbar-expand-md navbar-light">
        <button class="navbar-toggler "  type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"`
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
  
  
          <div class="collapse navbar-collapse" id="navbarNav">
              <form class="form-inline my-2 my-lg-0 searchSpacing mx-5">
                  <input action="#"  class="form-control mr-sm-2 input-field  searchbar text-center" type="search" placeholder="Search for a category" 
                      aria-label="Search"  name="category">
              </form>

              <ul class="navbar-nav mx-5">
              
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle text-dark" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Category
                      </a>
                      <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
                        {% for category in categories %}

                          <li>
                            <a class="nav-link text-light" href="{% url 'gallery' %}?category={{ category.name }}">{{ category.name }}</a>
                          </li>
                          {% endfor %}
                      </ul>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Location
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        

                        <li><a class="dropdown-item " href="">location.name</a></li>
                       

                      </ul>
                    </li>

                      </ul>
  
          </div>
         
      </nav>
  </nav>
